@page "/games"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Lab5.Data.ApplicationDbContext DB
@using Lab5.Components.Game
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Games list</PageTitle>

<h1>Games list</h1>

<AuthorizeView>
    <Authorized>
        <NavLink class="btn btn-primary mb-3" href="games/create">Create New</NavLink>
    </Authorized>
    <NotAuthorized>
        <p class="text-muted">Please log in to create a new game.</p>
    </NotAuthorized>
</AuthorizeView>
<div>
    <button class="btn btn-primary mb-1 mt-1 w-auto" onclick="@SortByTitle">Sort by title</button>
    <button class="btn btn-primary mb-1 mt-1 w-auto" onclick="@SortByDate">Sort by release date</button>
    <button class="btn btn-primary mb-1 mt-1 w-auto" onclick="@SortByRating">Sort by rating</button>
</div>

<QuickGrid Class="table text-center align-middle" Items="games">
    <PropertyColumn Sortable="true" Property="game => game.Title" />
    <PropertyColumn Property="game => game.Genre" />
    <PropertyColumn Property="game => game.Platform" />
    <PropertyColumn Property="game => game.Developer" />
    <PropertyColumn Sortable="true" Property="game => game.ReleaseDate" />  
    <PropertyColumn Sortable="true" Property="game => game.Rating"/>

    <TemplateColumn Context="game">
        <AuthorizeView>
            <Authorized>
                <NavLink class="btn btn-primary mb-1 mt-1 w-auto" href="@($"games/details?id={game.Id}")">Details</NavLink>
                <NavLink class="btn btn-primary mb-1 mt-1 w-auto" href="@($"games/edit?id={game.Id}")">Edit</NavLink>
                <NavLink class="btn btn-primary mb-1 mt-1 w-auto" href="@($"games/delete?id={game.Id}")">Delete</NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink class="btn btn-primary mb-1 mt-1 w-auto" href="@($"games/details?id={game.Id}")">Details</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

<style>
    .table td, .table th {
        vertical-align: middle;
        text-align: center;
    }
</style>

@code
{
    private IQueryable<Game> games;
    private bool titleSorting = false;
    private bool releaseDateSorting = false;
    private bool ratingSorting = false;
    
    protected override void OnInitialized()
    {
        games = DB.Game.AsQueryable();
    }
    
    
    private void SortByTitle()
    {
        if (titleSorting)
        {
            games = DB.Game.OrderByDescending(g => g.Title);
            titleSorting = false;
        }
        else
        {
            games = DB.Game.OrderBy(g => g.Title);
            titleSorting = true;
        }
        StateHasChanged();
    }

    private void SortByDate()
    {
        if (releaseDateSorting)
        {
            games = DB.Game.OrderByDescending(g => g.ReleaseDate);
            releaseDateSorting = false;
        }
        else
        {
            games = DB.Game.OrderBy(g => g.ReleaseDate);
            releaseDateSorting = true;
        }
        StateHasChanged();
    }

    private void SortByRating()
    {
        if (ratingSorting)
        {
            games = DB.Game.OrderByDescending(g => g.Rating);
            ratingSorting = false;
        }
        else
        {
            games = DB.Game.OrderBy(g => g.Rating);
            ratingSorting = true;
        }
        StateHasChanged();
    }
}
